<h1 class="text-primary m-4">About us:</h1>
<p class="text-info m-4">Matanya & Shlomi raise this store from scratch! <br>
    We hope that you have a great time using our site. <br><br>

    If you have some issue with the site you more than welcome to contact us under "Contact us" tab! <br> <br>
    Happy buying!
</p>