<div class="jumbotron">
    <div class="d-flex align-items-top">
        <strong id="loadText">Loading...</strong>
        <div id="loadIcon" class="spinner-border" role="status" aria-hidden="true"></div>
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" value="" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" value="" placeholder="Password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="branchNumber">Branch #</label>
                <input type="text" class="form-control" id="branchNumber" value="" aria-describedby="emailHelp"
                    placeholder="Branch number">
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <input type="text" class="form-control" id="role" value="" aria-describedby="emailHelp" placeholder="worker|supplier|manager">
            </div>
            <button type="button" onclick="create()" class="btn btn-primary">Create user</button>
        </form>
    </div>
    <script>
        function create() {
            username = $('#username').val();
            password = $('#password').val();
            role = $('#role').val();
            branchNumber = $('#branchNumber').val();
            const body = wait();
            fetch(
                `/api/users?username=${this_username}&name=${username}&password=${password}&position=${role}&numberBranch=${branchNumber}`, {
                    method: 'POST'
                }).then((res) => {
                res.json().then(user => {
                    alert(`${user.name} was added successfully`);
                    release(body, `./api/users?username=${this_username}`);
                }).catch((reason) => {
                    alert(reason);
                    release(body, `/api/users/add?username=${this_username}`);
                    $('#body').load(`/api/users/add?username=${this_username}`);
                });
            })
        }
        $(document).ready(() => {
            $('#loadIcon').hide();
            $('#loadText').hide();
        });
    </script>