<!DOCTYPE html>
<html>

<head>
  <% include ../public/partials/head %>
</head>

<body>
  <header>
    <% include ../public/partials/header %>
  </header>
  <main>
    <div id="body">
      <% include ../public/partials/about%>
    </div>
  </main>

  <footer>
    <% include ../public/partials/footer %>
  </footer>
</body>

</html>