<div class="col-md-2">
  <div class="card" style="width:200px">
    <img class="card-img-top" src=<%=student.avatar%> alt="Card image"
    style="width:100%">%>
    <div class="card-body">
      <h4 class="card-title">
        <%="Name: " + student.name + ' ' + student.last%>
      </h4>
      <p class="card-text">
        <%="ID: "+student.id%><br />
        <%="Avarage: "+student.avarage%>
      </p>
    </div>
    <!--<br>-->
  </div>
</div>
